  .avatar{
    border-radius: 50%;
    &:hover {
      -webkit-animation-name: pulse;
      -webkit-animation-duration: 4s;
      -webkit-animation-direction: alternate;
      -webkit-animation-timing-function: ease-in-out
    }
  }

  #post_body{
    height: 210px;
  }

  .paginator {
    text-align: center;
  }

  .date {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .title {
    padding-top: 10px;
  }

  .picture {
    margin-top: 10px;
    position: relative;
    top: 20px;
  }

  .columns {
    padding-top: 10px;
  }

  .post-edit {
    display: none;
  }
