  .avatar{
    border-radius: 50%;
  }

  .paginator {
    text-align: center;
  }

  .col-lg-8 {
    float: left;
  }

  .date {
    position: relative;
    top: 10px;
  }

  .text {
    margin-top: 10px;
    position: relative;
    top: 20px;
  }

   .picture {
    margin-top: 10px;
    position: relative;
    top: 20px;
  }
